DEFAULT_STORAGE_LIMIT=
MONGOURI=
NODE_ENV=
PINATA_API_KEY=
PINATA_SECRET_KEY=
SERVICE_DID=
SLACK_REPORTER=
RPC_URL=
NETWORK=
PINATA_GATEWAY=
MAX_GATE_HISTORY_COUNT=
AGENT_PRIVATE_KEY
BUNDLER_URL
FLOPPY_CONTRACT_ADDRESS
SEMAPHORE_SUBGRAPH_URL
MANAGER_CONTRACT_ADDRESS